@import '../../styles/variables';

.quill {
  .ql-toolbar {
    border: 0;
    font-size: 16px;
    font-family: $font;
    font-weight: $bold;
  }
  .ql-picker {
    color: $foreground;
    &:hover {
      color: $green;
    }
    &.ql-expanded .ql-picker-label {
      border-color: $foreground;
      color: $foreground;
    }
  }

  .ql-picker-options {
    background: $current;
  }

  .ql-stroke {
    stroke: $foreground;
  }

  .ql-toolbar button:hover, .ql-toolbar button:hover, .ql-toolbar button:focus, .ql-toolbar button:focus, .ql-toolbar button.ql-active, .ql-toolbar button.ql-active, .ql-toolbar .ql-picker-label:hover, .ql-toolbar .ql-picker-label:hover, .ql-toolbar .ql-picker-label.ql-active, .ql-toolbar .ql-picker-label.ql-active, .ql-toolbar .ql-picker-item:hover, .ql-toolbar .ql-picker-item:hover, .ql-toolbar .ql-picker-item.ql-selected, .ql-toolbar .ql-picker-item.ql-selected {
    color: $green;
  }

  .ql-toolbar button:hover .ql-stroke,  .ql-toolbar button:hover .ql-stroke, .ql-toolbar button:focus .ql-stroke,  .ql-toolbar button:focus .ql-stroke, .ql-toolbar button.ql-active .ql-stroke,  .ql-toolbar button.ql-active .ql-stroke, .ql-toolbar .ql-picker-label:hover .ql-stroke,  .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-toolbar .ql-picker-label.ql-active .ql-stroke,  .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-toolbar .ql-picker-item:hover .ql-stroke,  .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,  .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-toolbar button:hover .ql-stroke-miter,  .ql-toolbar button:hover .ql-stroke-miter, .ql-toolbar button:focus .ql-stroke-miter,  .ql-toolbar button:focus .ql-stroke-miter, .ql-toolbar button.ql-active .ql-stroke-miter,  .ql-toolbar button.ql-active .ql-stroke-miter, .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,  .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,  .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,  .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,  .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: $green;
  }

  .ql-container {
    border: 0;
  }

  .ql-editor {
    padding: 60px;
    font-size: 16px;
    font-family: $font;
    font-weight: $regular;
  }
}