@import '../../../styles/variables.scss';

.Corner {
  display: block;
  float: left;
  height: 5px;
  width: 5px;
  background: transparent;
  &:hover {
    background: $comment;
  }
  &.active {
    background: $comment;
    &:hover {
      background: $selection;
    }
  }
}