@import '../../styles/variables';
@import '../../styles/mixins';

.Footer {
  position: absolute;
  bottom: 0;
  left: 60px;
  right: 0;
  background: darken( $background, 5% );
  border-top: 2px solid $comment;
  @include flex;
  align-items: flex-end;
  padding: 20px;
  .notices {
    flex-grow: 1;
    padding-bottom: 6px;
    font-size: 12px;
    > span:after {
      display: inline-block;
      content: '|';
      padding: 0 10px;
    }
  }
  .logoArea {
    flex-shrink: 1;
    font-size: 36px;
    font-weight: $light;
    img {
      padding-left: 10px;
      max-height: 60px;
      vertical-align: bottom;
    }
  }
}

@media (max-width: 1100px) {
  .Footer {
    position: relative;
    left: 0;
    display: block;
    .notices {
      text-align: center;
      font-size: 14px;
      > span {
        display: block;
        margin-bottom: 10px;
        &:after {
          display: none;
        }
      }
    }
    .logoArea {
      margin-top: 20px;
      font-size: 32px;
      text-align: center;
      span { display: block; }
      img {
        display: block;
        max-height: unset;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 400px) {
  .Footer {
    .notices {
      font-size: 12px;
    }
    .logoArea {
      font-size: 24px;
    }
  }
}
