@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Navbar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 5px 0;
      padding: 0;
    }
  }
  a {
    p { display: none; }
  }
}

.Navbar:not(.cards) {
  position: relative;
  flex-shrink: 0;
  background: $current;
  height: 100%;
  width: 60px;
  // padding: 10px 0;
  @include transition(width 0.5s ease-in-out);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 5px 0;
      padding: 0;
    }
  }

  a, .minimizeToggle {
    display: block;
    // padding: 10px 20px;
    background: none;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    text-decoration: none;
    @include transition;
    color: $foreground;
    &:hover, &:focus {
      color: $green;
      background: $background;
    }
    span {
      font-size: 19px;
      font-weight: $bold;
      width: 0;
      opacity: 0;
      @include transition(opacity 0.3s ease-in-out);
    }
  }

  svg {
    display: inline-block;
    padding: 10px;
  }

  svg, span { vertical-align: middle; }

  a.active {
    background: $purple;
    color: $background;
    &:hover {
      color: $green;
      background: $background;
    }
  }

  &.expanded {
    width: 250px;
    span {
      width: auto;
      opacity: 1;
    }
    .minimizeToggle {
      span {
        display: inline-block;
      }
      svg {
        transform: rotate(0);
        @include transition(transform 0.2s ease-in-out);
      }
    }
  }

  .minimizeToggle {
    // display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    svg {
      padding: 0;
      transform: rotate(180deg);
      @include transition(transform 0.2s ease-in-out);
    }
  }
}

.Navbar.cards {
  .homeLink { display: none; }
  ul {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 30%;
      &:not(:nth-last-of-type(-n+3)) {
        margin-bottom: 60px;
      }
    }
  }
  a {
    height: calc(100% - 40px);
    font-weight: $light;
    display: block;
    padding: 20px;
    color: $foreground;
    background: $comment;
    @include border-radius(10px);
    span { font-size: 32px; }
    p {
      display: block;
      font-size: 18px;
      margin: 0;
    }
    &:hover {
      color: $foreground;
      background: $selection;
    }
  }
  svg {
    float: right;
  }
}
