@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Navbar {
  position: relative;
  flex-shrink: 0;
  background: $current;
  height: 100%;
  width: 60px;
  // padding: 10px 0;
  @include transition(width 0.5s ease-in-out);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 5px 0;
      padding: 0;
    }
  }

  a, .minimizeToggle {
    display: block;
    // padding: 10px 20px;
    background: none;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    text-decoration: none;
    @include transition;
    color: $foreground;
    &:hover, &:focus {
      color: $green;
      background: $background;
    }
    span {
      width: 0;
      opacity: 0;
      @include transition(opacity 0.3s ease-in-out);
    }
  }

  svg {
    display: inline-block;
    padding: 10px;
  }

  svg, span { vertical-align: middle; }

  a.active {
    background: $purple;
    color: $background;
    &:hover {
      color: $green;
      background: $background;
    }
  }

  &.expanded {
    width: 250px;
    span {
      width: auto;
      opacity: 1;
    }
    .minimizeToggle {
      span {
        display: inline-block;
      }
      svg {
        transform: rotate(0);
        @include transition(transform 0.2s ease-in-out);
      }
    }
  }

  .minimizeToggle {
    // display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    svg {
      padding: 0;
      transform: rotate(180deg);
      @include transition(transform 0.2s ease-in-out);
    }
  }
}
