.Row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;

  > * {
    flex-grow: 1;
  }

  // POSITION MODIFIERS
  &.start { justify-content: flex-start; }
  &.center { justify-content: center; }
  &.end { justify-content: flex-end; }
  &.top { align-items: flex-start; }
  &.middle { align-items: center; }
  &.bottom { align-items: flex-end; }

  // SPACING MODIFIERS
  &.wrap { flex-wrap: wrap; }
  &.around { justify-content: space-around; }
  &.between { justify-content: space-between; }
}
