@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: fade-out($color: $background, $amount: 0.4);
  .dialog {
    position: absolute;
    width: 300px;
    min-height: 100px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: $selection;
    @include border-radius(20px);
  }
  .Button {
    display: inline-block;
    width: 40%;
    margin: 20px 5% 0 5%;
    &.cancel {
      background: $background;
      color: $white;
      &:hover {
        background: $current;
      }
    }
  }
}