@import '../../styles/variables.scss';

.CombatTrackerContainer {
  padding: 60px;
  .combatOrder {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .highlight {
    color: $purple;
    padding: 0 8px;
  }
}