@import '../../styles/variables.scss';

.CombatTrackerContainer {
  padding: 60px;
  .newUnit { margin-bottom: 0; }
  .combatOrder {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .highlight {
    color: $green;
    white-space: nowrap;
    padding: 0 8px;
  }
}

@media (max-width: 1000px) {
  .CombatTrackerContainer {
    .allies, .enemies {
      flex-basis: 100%;
      max-width: unset;
      padding: 0;
    }
    .controllers {
      .Column {
        flex-basis: 100%;
        max-width: unset;
        padding: 0;
      }
      .Button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .combatOrder {
      white-space: unset;
      text-overflow: unset;
      overflow: unset;
    }
  }
}