@import '../../styles/variables.scss';

.CombatTrackerContainer {
  padding: 60px;
  .newUnit { margin-bottom: 0; }
  .combatOrder {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .highlight {
    color: $green;
    white-space: nowrap;
    padding: 0 8px;
  }
}