@import '../../styles/variables';

.DiceRollerContainer {
  border-top: 3px solid $green;
  > div {
    padding: 60px;
    &:first-child, &:last-child {
      padding: 60px;
    }
    &:first-child {
      border-right: 3px solid $green;
    }
  }
  .aResult {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid $foreground;
    &:last-child {
      border-bottom: 0;
    }
  }
  strong {
    color: $green;
  }
}