@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Header {
  border-bottom: 3px solid $green;
  padding: 40px 60px;
  h1 {
    color: $green;
    margin: 0;
    @include flex;
    svg {
      margin-left: auto;
    }
  }
}